/*CODE LEGEND: when searching using ctrl+f*/
/*body*/
    /*wrapper*/
        /*>sidebar*/
            /*>avatar*/
            /*>menu*/
        /*main*/
            /*>iframe*/
    /*footer*/

/*body*/
    /*page*/

/*search the code using first level, second level, third level, etc.*/

/*first level*/
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #161616;
    color: #dbdbdb;
    font-family: Lucida Console;
    box-sizing: border-box;
    /*Border-box allows box-sizing (width x height) to include padding and borders into its size, so that what you put is what you get. */
    cursor: url(assets/images/cursor.png), auto;
}

a {
    color: #E1AD4A;
    cursor: url(assets/images/pointer.png), pointer;
}

hr {
    color:#E1AD4A;
}

h1 {
    font-size: 20px;
    color: #53b950;
    display:inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    color: #00698f;
    letter-spacing: 1px;
    font-size: 16px;
    border-bottom: 1px dashed #00698f;
    padding-bottom: 4px;
    margin-top: 2rem;
}

h3 {
    font-size: 14px;
    color: #C82A72;
}

h5 {
    color: #E1AD4A;
}

img {
    max-width: 100%;
    height:auto;
    margin: auto;
    display: block;
    border-radius:25px;
}

/*bold*/
b {
    color:#C82A72
}

.wrapper {
    position: relative;
    margin: auto;
    top: 25%;
    width: 55%;
    height: 40%;
}

.footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    float: left;
}

.footer img {
    float: left;
}

.bubble {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: right;
}

.bubble img {
    display: inline;
}

/*second level*/
.sidebar {
    float: left;   
    width: 25%;
    height: 100%;
}

.main {
    float: right;
    width: 75%;
    height: 100%;
    border: 3px double #C82A72;
    box-sizing: border-box;
}

.page {
    background-color: #161616;
    padding: 24px;
}

.page h1:first-child {
    margin-top: 0;
}

/*third level*/
.avatar {
    position:relative;
    margin:auto;
    width: 200px;
    height: 200px;
    border-bottom: #C82A72 3px double;
}

.menu {
    padding: 1%;
    text-align: center;
    height: 50%;
    overflow-y: auto;
}

.menu a {
    display: inline-block;
/*padding: first px is top and bottom, second px is left and right*/
    padding: 3px 6px;
    color: #C82A72;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu a:hover {
    background: #E1AD4A;
    color: #4d4d4d;
}

iframe {
    border: none;
    height: 100%;
    width: 100%;
}

/*AUs*/

.AUs {
    text-align: center;
    display: block; 
    margin: auto;
    width: 80%;
}

.AUs img {
    max-width: 70%;
    height: auto;
    border-radius: 25px;
}

.media img {
    max-width: 10%;
    height: auto;
    display: inline;
    padding: 3px;
}
